<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DoctorAppointment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>com.project.controller.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceptionistLoginServlet</display-name>
    <servlet-name>ReceptionistLoginServlet</servlet-name>
    <servlet-class>com.project.controller.ReceptionistLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistLoginServlet</servlet-name>
    <url-pattern>/ReceptionistLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppoServlet</display-name>
    <servlet-name>BookAppoServlet</servlet-name>
    <servlet-class>com.project.controller.BookAppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppoServlet</servlet-name>
    <url-pattern>/BookAppoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHistoryServlet</display-name>
    <servlet-name>ViewHistoryServlet</servlet-name>
    <servlet-class>com.project.controller.ViewHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistoryServlet</servlet-name>
    <url-pattern>/ViewHistoryServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ADMINNAME</param-name>
    <param-value>Recep</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>TransferAppointmentServlet</display-name>
    <servlet-name>TransferAppointmentServlet</servlet-name>
    <servlet-class>com.project.controller.TransferAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferAppointmentServlet</servlet-name>
    <url-pattern>/TransferAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogoutServlet</display-name>
    <servlet-name>DoctorLogoutServlet</servlet-name>
    <servlet-class>com.project.controller.DoctorLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogoutServlet</servlet-name>
    <url-pattern>/DoctorLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceptionistLogoutServlet</display-name>
    <servlet-name>ReceptionistLogoutServlet</servlet-name>
    <servlet-class>com.project.controller.ReceptionistLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceptionistLogoutServlet</servlet-name>
    <url-pattern>/ReceptionistLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewHistoryServlet_Recp</display-name>
    <servlet-name>ViewHistoryServlet_Recp</servlet-name>
    <servlet-class>com.project.controller.ViewHistoryServlet_Recp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistoryServlet_Recp</servlet-name>
    <url-pattern>/ViewHistoryServlet_Recp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppointmentServlet</display-name>
    <servlet-name>AppointmentServlet</servlet-name>
    <servlet-class>com.project.Servlets.AppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentServlet</servlet-name>
    <url-pattern>/AppointmentServlet</url-pattern>
  </servlet-mapping>
</web-app>